
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  background-color: #fbffed;
}

.nav-icon {
  display: flex;
  gap: 1.5rem;
}

.nav-icon i {
  color: black;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.nav-links a {
  text-decoration: none;
  color: black;
}

.search-icon {
  color: black;
  width: 2rem;
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  color: #666;
  pointer-events: none;
}

.hero {
  background-image: url(../assets/matBild.background.jpg);
  border-radius: 15px;
  background-color: #fbffed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 12rem;
  padding-bottom: 12rem;
  margin-left: 75px;
  margin-right: 75px; 

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  width: 90%;
  max-width: 600px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#search-input {
  width: 100%;
  padding: 15px 50px 15px 20px;
  border-radius: 30px;
  border: none;
  font-size: 1.1rem;
  outline: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.search-icon {
  position: absolute;
  right: 15px;
  width: 24px;
  height: 24px;
  color: darkgray;
  pointer-events: none;
}

h2 {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card-section-header {
  background-color: #fbffed;
  width: 100%;
  margin-top : 50px;
  
}

.card-section-header h2 {
  margin: 75px;
  padding: 1rem 2rem;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  padding: 2rem;
  margin: 50px 50px 50px 50px;
}

.recipe-card {
  background-color: #FFFFFF;
  backdrop-filter: blur(10px);
  height: 100%;
  overflow:hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.recipe-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  ta
}

.recipe-card:hover img{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.recipe-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

footer {
  background-color: #fbffed;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.card-content{
  padding: 2rem;
}

.card-header {
  margin: 0 0 1rem 0;
  color: black;
}






